{% extends "base.html" %} {% load tailwind_filters %} {% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-2 mx-auto">
    <div class="max-w-lg mx-auto">
      <div class="max-w-lg mx-auto">
        <h1 class="text-2xl text-gray-800">
          Cost - {{ cost.carat }}
        </h1>
      </div>
      <div class="py-5 border-b border-gray-200">
        <a
          class="hover:text-blue-500"
          href="{% url 'erm:cost-list' %}"
          rel="noopener noreferrer"
          >Cost List</a
        >
      </div>
      <form method="post" enctype="multipart/form-data" class="mt-2">
        {% csrf_token %} {{form|crispy}}
        <button
          type="submit"
          class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md"
        >
          Update
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
