{% extends "base.html" %} {% load tailwind_filters %} {% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-2 mx-auto">
    <div class="max-w-lg mx-auto">
      <div class="max-w-lg mx-auto">
        <h1 class="text-2xl text-gray-800">
          Cost - {{ cost.carat }}
        </h1>
      </div>
      <div class="py-5 border-b border-gray-200">
        <a
          class="hover:text-blue-500"
          href="{% url 'erm:cost-list' %}"
          rel="noopener noreferrer"
          >Cost List</a
        >
      </div>

      <div class="flex border-t border-b mb-6 border-gray-200 py-2">
        <span class="text-gray-500">Carat</span>
        <span class="ml-auto text-gray-900">{{ cost.carat }}</span>
      </div>
      <div class="flex border-t border-b mb-6 border-gray-200 py-2">
        <span class="text-gray-500">Date</span>
        <span class="ml-auto text-gray-900">{{ cost.date }}</span>
      </div>
      <div class="flex border-t border-b mb-6 border-gray-200 py-2">
        <span class="text-gray-500">Cost</span>
        <span class="ml-auto text-gray-900">{{ cost.cost }}</span>
      </div>
      <div class="mt-2 py-2 border-t border-gray-200">
        <a
          href="{% url 'erm:cost-update' cost.id %}"
          class="flex w-full text-white justify-center bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
          >Update</a
        >
      </div>
      <div class="mt-2 py-2 border-t border-gray-200">
        <a
          href="{% url 'erm:cost-delete' cost.id %}"
          class="flex w-full text-white justify-center bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
          >Delete</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock content %}
