      <input
      id="prodcost"
        hx-trigger="change" hx-post="icost/{{ note.id }}/" hx-target="#prodcost"
        hx-swap-oob="true"
        type="number"
        name="prodcost"
        value="{{prodcost}}"
        step="1.00"
        class="cost flex-1 px-4 py-3 bg-gray-200 rounded-xl"
        placeholder="{{prodcost}}"
      />

      <input
      id="qty"
        hx-trigger="change" hx-post="icost/{{ note.id }}/" hx-target="#qty"
        hx-swap-oob="true"
        type="number"
        value="{{qty}}"
        name="qty"
        class="qty flex-1 px-4 py-3 bg-gray-200 rounded-xl"
        placeholder="{{qty}}"
      />

      <input
      id="icost" hx-swap-oob="true"
        type="number"
        name="icost"
        value="{{icost}}"
        disabled="true"
        class="icost flex-1 px-4 py-3 bg-gray-200 rounded-xl"
        placeholder="{{icost}}"
      />