{% load tz %}
<article class="flex{% if note.is_final %} bg-green-50{% endif %}">
        <tbody>
          <tr>
            <td class="px-4 py-3">
               <a class="px-6 text-xl text-blue-1000"
              hx-get="noteitems/{{ note.id}}/"
              hx-target="#main"
              hx-swap="outerHTML"
              class="px-4 py-3">{{ note.location }}
              </a>
            </td>
            <td class="px-4 py-3">{{ note.client }}</td>
            <td class="px-4 py-3">{{ note.notekey }}</td>         
            <td class="px-4 py-3">{{ note.created_on|localtime }}</td>
          </tr>
        </tbody>
</article>

<div id="alerts" class="px-6 text-xs font-bold text-red-500 uppercase" hx-swap-oob="true">
  -  {{msg}}
</div>