{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class='max-w-lg mx-auto'>
  <div class='max-w-lg mx-auto border-b'>
    <h1 class='text-4xl text-gray-800'>Password reset confimation</h1>
  </div >
  <div class='py-5 border-t border-gray-200 mt-5'>
    <p class='hover:text-blue-500 mt-3' >Enter your new password</p>
  </div>
  <form method="post">
      {% csrf_token %}
      {{form|crispy}}
      <button type='submit' class='w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md'>New password confirmation</button>
  </form>
    <div class='py-5 border-t border-gray-200 mt-5'>
      Back to 
      <a class='hover:text-blue-500 mt-3' href="{% url 'util:login' %}" target="_blank" rel="noopener noreferrer">Login</a>
    </div >
</div>

{% endblock content %}

{% comment %}
{% extends "base.html" %}
{% block content %}

    <p>Enter your new password</p>

  <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type='submit'>Confirm new Password</button>
  </form>
{% endblock content %}
{% endcomment %}