{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
    <div class='max-w-lg mx-auto'>
        <h1 class='text-4xl text-gray-800'>Password reset complete</h1>
    </div >

    <div class='py-5 border-t border-gray-200 mt-5'>
        You have successfully reset your password.
        <p class='hover:text-blue-500 mt-3' >
            <a href="{% url 'util:login' %}"> to login</a>
        </p>
    </div>
{% endblock content %}

{% comment %}
  {% extends "base.html" %}

{% block content %}
    <h1>Password reset complete</h1>

    <p>
        You have successfully reset your password.
        Click <a href="{% url 'util:login' %}"> to login</a>
    </p>
{% endblock content %}
{% endcomment %}
