  <tbody>
    <tr>
      <td class="px-4 py-3"><h3>{{ poitem.product }}</h3></td>
      <td class="px-4 py-3">{{ poitem.purchase_order_item_weight }}</td>
      <td class="px-4 py-3">{{ poitem.purchase_order_item_cost }}</td>
      <td class="w-10 text-center">
        <button
          hx-get="{% url 'erm:update-poitem' poitem.id %}"
          hx-target="#item-entry"
          type="button"
          hx-swap="outerHTML"
          class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Update
        </button>
      </td>
      <td>
        <button
          hx-post="{% url 'erm:delete-poitem' poitem.id %}"
          class="ml-2 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>