{% extends "base.html" %} {% load tailwind_filters %} {% block content %}
  <section class="text-gray-600 body-font">

    <!-- <div id="main" class="w-9/10 my-6 mx-auto p-2 lg:p-10 bg-white rounded-xl" > -->
          <!-- class="flex mb-6 mt-6 space-x-4" -->
      <div id="main">
        <form class="w-9/10 my-1 mx-auto p-1 lg:p-5 bg-white rounded-xl"
            hx-post="{% url 'note:add_note' %}"
            hx-target="#notes"
            hx-swap="afterend"
          >

        <div class="flex flex-wrap -mx-3 mb-6 mt-6 space-x-4">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="notetypelist">
                Note Type
              </label>
              <select
              label="Note Type"
              id="notetypelist" name="notetype" placeholder="NoteType" class="note flex-1 px-4 py-3 bg-gray-200 rounded-xl"
                hx-get="notes{{ notetype.id }}/"
                hx-trigger="change"
                hx-target="#notes"
                hx-swap="outerHTML"/>
                <option value="">Note Type</option>
              {% for notetype in notetypes %}
                <option value="{{ notetype.id}}">{{ notetype }}</option>
              {% endfor %}
              </select>
            </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="locationlist">
              Location
            </label>
            <select
            id="locationlist" name="location" placeholder="Location" class="note flex-1 px-4 py-3 bg-gray-200 rounded-xl"/>
            <option value="">Location</option>
            {% for loc in locations %}
              <option value="{{ loc.id}}">{{ loc }}</option>
            {% endfor %}
            </select>
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="clientlist">
              Client
            </label>        
            <select
            id="clientlist" name="client" placeholder="Client" class="note flex-1 px-4 py-3 bg-gray-200 rounded-xl"
              hx-get="notes{{ client.id }}/"
              hx-trigger="change"
              hx-target="#notes"
              hx-swap="outerHTML"/>
            <option value="">Client</option>
            {% for client in clients %}
              <option value="{{ client.id}}">{{ client }}</option>
            {% endfor %}
            </select>
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="trans">
              Transaction No
            </label>        
            <input
              id="trans"
              type="text"
              name="notekey"
              class="title flex-1 px-4 py-3 bg-gray-200 rounded-xl"
              placeholder="Note #"
            />
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="add">
              Add
            </label>  
            <button class="p-3 rounded-xl text-white bg-gray-400 hover:bg-gray-600">
              +
            </button>
          </div>

        </div>
        </form>


          <div>   
              <div class="flex py-3 ">
                <table class="table-auto w-full text-left whitespace-no-wrap">
                  <thead class="rounded-xl bg-gray-100">
                  <tr>
                    <th
                      class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl"
                    >
                      Location
                    </th>
                    <th
                      class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
                    >
                      Client
                    </th>
                    <th
                      class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
                    >
                      Transaction No.
                    </th>            
                    <th
                      class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
                    >
                      Date & Time
                    </th>
                  </tr>
                </thead>
              </table> 
            </div>
          </div>
                  <div class="divide-y divide-gray-200" id="notes">
                    {% for note in notes %} {% include 'note/partials/note.html' %} {%endfor %}
                  </div>
      </div>
    </section>

    {% endblock content %}
