<div id="noteitems">
  <div class="w-6/7 my-6 mx-auto p-2 lg:p-1 bg-white rounded-xl">
    <form class="flex mb-6 space-x-4">
      <label class="note flex-1 px-4 py-3 bg-blue-200 rounded-xl">
        {{ note.notekey }}
      </label>

      <select
          id="productlist" name="product" hx-trigger="change" hx-get="invlist/" hx-target="#invlist" placeholder="Product" class="title flex-1 px-4 py-3 bg-gray-200 rounded-xl"/>
          <option value="">Product</option>
          {% for product in products %}
            <option value="{{ product.id}}">{{ product.product_name }}</option>
          {% endfor %}
      </select>
      {% if note.notetype_id == 2 or note.notetype_id == 4 %}
      <select
          id="invlist" name="weight" placeholder="Available Items Weight" class="weight flex-1 px-4 py-3 bg-gray-200 rounded-xl"/>
        <option value="">Available Items Weight</option>
      </select>
      {% else %}
      <input
        id="invlist"
        type="number"
        name="weight"
        step=".01"
        class="title flex-1 px-4 py-3 bg-gray-200 rounded-xl"
        placeholder="weight"
      />
      {% endif %}
      
      <input
        hx-post="val_cost/" hx-target="#message"
        type="number"
        name="cost"
        step=".01"
        class="cost flex-1 px-4 py-3 bg-gray-200 rounded-xl"
        placeholder="cost"
      />     
      
      <input
        hx-post="val_qty/" hx-target="#message"
        type="number"
        name="qty"
        class="qty flex-1 px-4 py-3 bg-gray-200 rounded-xl"
        placeholder="qty"
      />

      {% if note.status_id == 0 %}
      <button
        hx-post="{% url 'note:add_noteitem' note.id %}"
        hx-target="#noteitemlist"
        hx-swap="afterend"
        class="p-3 rounded-xl text-white bg-gray-400 hover:bg-gray-600"
      >
        +
      </button>
      {% endif %}

      <button
        {% comment %} hx-get="{% url 'notescopy' %}" {% endcomment %}
        class="p-3 rounded-xl text-white bg-red-500 hover:bg-red-600"
        hx-target="#noteitems"
      >
        X
      </button>

    </form>
    <div class="flex py-3 rounded-xl bg-gray-100">
      <div class="w-4/5">
        <p class="px-6 text-xs font-medium text-gray-500 uppercase">Title</p>
      </div>

          <div class="w-4/5" id="message">
          {% if message is not None %}
              <p class ="px-6 text-xs font-medium text-gray-500 uppercase">{{message}}</p>
          {% endif %}
          </div>

        {% comment %} {%  include 'note/partials/message.html' %} {% endcomment %}
        {% comment %} <p class="px-6 text-xs font-medium text-gray-500 uppercase">{{message}}</p> {% endcomment %}
      <div class="hidden md:block w-1/5 px-6 text-right">
        <p class="text-xs font-medium text-gray-500 uppercase">Actions</p>
      </div>
    </div>

    <div class="divide-y divide-gray-200" id="noteitemlist">
      {% for noteitem in noteitems %} {% include 'note/partials/noteitem.html' %} {% endfor %}
    </div>
  </div>
</div>
