{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E R P</title>
    <link href="{% static 'tailwind.css' %}" rel="stylesheet" />
    <link href="{% static 'js/add.html' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static 'htmx.min.js' %}"></script>
    <style></style>
  </head>
  <body>
    <div class="max-w-7xl max-auto">{% include 'navbar.html' %}</div>
    <div class="py-5 px-4 sm:px-6 max-w-1xl mx-auto">
      {% block content %} {% endblock content %}
    </div>
    <script>
      document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
      });
    </script>
  </body>
</html>
