{% extends "base.html" %} {% load static %} {% block content %}
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-0 py-0 items-center justify-center flex-col"
  >
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mt-10 mb-10 object-cover object-center rounded"
      alt="erm_intro"
      src="{% static 'erm_intro.png' %}"
    />
    <!-- <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600"> -->
    <div class="text-center lg:w-2/3 w-full">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        Enterprise Resource Management
      </h1>
      <p class="mb-8 leading-relaxed">Project based on Jewelry Merchant</p>
    </div>
  </div>
</section>
{% endblock content %}
